body {
  background-color: #fff3f7;
}

.header {
  text-align: center;
}

.task-container {
  display: flex;
  max-width: 70%;
  margin: 10px auto;
  padding: 5px 10px;
  border: #ffffff solid 0.5px;
  border-radius: 5px;
  background-color: #e91e63;
}

.task-checker {
  display: flex;
  width: 10%;
  justify-content: center;
  align-items: center;
}

.task-checkbox {
  background-color: rebeccapurple;
  zoom: 1.5;
}

.task-details {
  width: 80%;
}

.task-description {
  font-size: 15px;
  margin: 12px 0;
  color: #ffffff;
}

.task-description-input {
  width: 100%;
  font-size: 15px;
  margin: 12px 0;
  border: none;
  outline: none;
  color: #fff;
  background-color: #e91d63;
}

.task-remover {
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: center;
  float: right;
}

.task-remove-icon {
  width: 20px;
}

.task-add-button {
  padding: 4px 7px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 15px;
  color: #ffffff;
  font-weight: 700;
  border: #ffffff solid 0.5px;
}

.strike-text {
  text-decoration: line-through;
}

.disabled-text {
  color: #7b7b7b;
}

.disabled-container {
  background-color: #d8d8d8;
}

.hide {
  visibility: hidden;
}

.new-task-add-icon {
  width: 20px;
}